**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
../lib/screen/Flutter/App.framework
../lib/screen/Flutter/Flutter.framework
../lib/screen/Flutter/Flutter.podspec
../lib/screen/Flutter/Generated.xcconfig
../lib/screen/Flutter/ephemeral/
../lib/screen/Flutter/app.flx
../lib/screen/Flutter/app.zip
../lib/screen/Flutter/flutter_assets/
../lib/screen/Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
